matplotlib==3.10.0
    # via
    #   -r requirements.in
numpy>=1.23,<2.0
    # via
    #   -r requirements.in
matplotlib-inline==0.1.6
scikit-image==0.25.2
tifffile==2024.12.12
pandas>=2.0,<3.0
    # via
    #   -r requirements.in
scipy>=1.9,<2.0
